

.grid-container__prize {
    grid-area: prize;
    color: white;
    background: rgb(22, 22, 162);
    padding: 10px;
    border-radius: 25px;
    border: solid black 2px;
  
    }

.grid-container__prize-100{
  
    padding-left: 20px;

} 
.grid-container__prize-200{
    padding-left: 20px;
}

.grid-container__prize-300{
    padding-left: 20px;
}
.grid-container__prize-500{
    padding-left: 20px;
}
.grid-container__prize-1000{
    padding-left: 20px;
}
.grid-container__prize-2000{
    padding-left: 20px;
}
.grid-container__prize-4000{
    padding-left: 20px;
}
.grid-container__prize-8000{
    padding-left: 20px;
}
.grid-container__prize-16000{
    padding-left: 20px;
}
.grid-container__prize-32000{
    padding-left: 20px;
}
.grid-container__prize-64000{
    padding-left: 20px;
}
.grid-container__prize-125000{
    padding-left: 20px;
}
.grid-container__prize-250000{
    padding-left: 20px;
}
.grid-container__prize-500000{
    padding-left: 20px;
}
.grid-container__prize-1000000{
    padding-left: 20px;
}